DATABASE_URL="mysql://root:@127.0.0.1:3306/tunibois"
NEXT_PUBLIC_SITE_URL="http://localhost:3000"
MAIL_HOST="localhost"
MAIL_PORT="1025"
MAIL_USER=""
MAIL_PASSWORD=""
MAIL_IGNORE_TLS="false"
MAIL_TRANSPORT="smtp"
MAIL_SENDMAIL_PATH="/usr/sbin/sendmail"
MAIL_FROM="Tunibois <devis@tunibois.tn>"
LEADS_TO_EMAIL="devis@tunibois.tn"
